<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
</head>
<body>
    <div id="header">
        <h1>Trang chủ admin</h1>
        <div id="nav">
            <p id="username"></p>
            <a href="Dang_nhap.html" id="signed" onclick="logout()">Đăng xuất</a>
        </div>
    </div>
    <div id="main-content">
        <p>Xin chào, đây là trang chủ!</p>
    </div>
    <script>
        async function fetchAdminData() {
            const token = localStorage.getItem('token');
            try {
                const response = await fetch('http://localhost:8080/api/auth/admin', {
                    method: 'GET',
                    headers: {
                        'Authorization': `Bearer ${token}`
                    }
                });
                const data = await response.json();
            } catch (error) {
                console.error('Error:', error);
            }
        }
        function logout() {
            localStorage.removeItem('token');
            window.location.href = 'Dang_nhap.html';
        }
        function checkLoginStatus() {
            const token = localStorage.getItem('token');
            if (!token) {
                alert('You must be logged in to access this page.');
                window.location.href = 'Dang_nhap.html';
            }
        }
        checkLoginStatus();
        fetchAdminData();
    </script>
</body>
</html>